html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
        max-width: 100%;
        height: auto;
        margin: 0;
}
header{
        display: flex;
        position: relative;
        background-image: url(../media/banner.jpg);
        color: #ffffff;
        align-items: center;
        justify-content:space-between;
        vertical-align: middle;
        font-size: 35px;
        max-width: auto;
        height: auto;
        padding: 10px;
}
header a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
#lab{
        float: left;
        background-image: url(../media/banner2.jpg);
        width: 11.5%;
        height: 1812px;
        text-align: center;
        font-size: 16px;
}
#lab a{
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-bottom: 6px;
        border-bottom: 2px solid rgb(225, 159, 234);
}
.home{
        display:block;
        line-height: 20px;
        text-align: center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#paracord img, #scroll img, #feet1 img, #feet2 img{
        border-radius: 10px;
}
#paracord a, #scroll a, #feet1 a, #feet2 a{
        color: black;
        text-decoration: none;
}
#paracord p, #scroll p, #feet1 p, #feet2 p{
        color: rgb(140, 66, 251);
}
#footer{
        background-image: url(../media/footer.png);
        display:flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        width: 100%;
        height: 200px;
        color: gray;
        text-align: justify;
}
#barra{
        background-color: black;
        width: 100%;
        height: 70px;
}
#redes{
        display:flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
}