html{
        font-family: Arial, Helvetica, sans-serif;
}
body{
        max-width: 100%;
        height: auto;
        margin: 0;
        overflow: auto;
}
header{
        display: flex;
        position: relative;
        background-image: url(../media/banner.jpg);
        align-items: center;
        justify-content:space-between;
        vertical-align: middle;
        font-size: 35px;
        max-width: auto;
        height: auto;
        padding: 10px;
}
header a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}
#lab{
        float: left;
        background-image: url(../media/banner2.jpg);
        width: 11.5%;
        height: 1097px;
        text-align: center;
        font-size: 16px;
        transition: 0.5s;
}
#lab:houver{
        opacity: 0.7;
}
#lab a{
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-bottom: 6px;
        border-bottom: 2px solid rgb(225, 159, 234);
}
.home{  
        display: block;
        width: 100%;
        height: auto;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 45px;
        line-height: 10px;
        color: black;
}
#footer{
        background-image: url(../media/footer.png);
        display:flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        width: 100%;
        height: 200px;
        color: gray;
        text-align: justify;
}
#barra{
        background-color: black;
        width: 100%;
        height: 70px;
        margin-top: 172px;
}
#redes{
        display:flex;
        justify-content: center;
        text-align: center;
        gap: 75px;
}
#cima{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 100px;
        margin-bottom: 100px;
}
#cima img{
        border-radius: 10px;
}
#baixo{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 100px;
}
#baixo img{
        border-radius: 10px;
}