#lab{
        height: 1812px;
}
.home{
        display:block;
        line-height: 20px;
        text-align: center;
}

#paracord img, #scroll img, #feet1 img, #feet2 img{
        border-radius: 10px;
        transition: 0.5;
}

#paracord img:hover, #scroll img:hover, #feet1 img:hover, #feet2 img:hover{
        transform: scale(1.05);
        transition: 0.5s;
}

#paracord a, #scroll a, #feet1 a, #feet2 a{
        color: black;
        text-decoration: none;
}

#paracord p, #scroll p, #feet1 p, #feet2 p{
        color: rgb(140, 66, 251);
}

#redes{
        display:flex;
        gap: 75px;
        align-items: center;
        justify-content: center;
}

#barra{
        background-color: black;
        width: 100%;
        height: 70px;
}

#footer{
        display:flex;
        background-image: url(../media/footer.png);
        color: gray;
        width: 100%;
        height: 200px;
        gap: 100px;
        text-align: justify;
        align-items: center;
        justify-content: center;
}