html{
        font-family: Arial, Helvetica, sans-serif;
}
body{
        margin: 0;
        padding: 0;
        height: auto;
        max-width: 100%;
        overflow: auto;
}
header{
        display: flex;
        position: relative;
        background-image: url(../media/banner.jpg);
        align-items: center;
        justify-content:space-between;
        vertical-align: middle;
        font-size: 35px;
        max-width: auto;
        height: auto;
        padding: 10px;
}

header a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}

#lab{
        float: left;
        background-image: url(../media/banner2.jpg);
        text-align: center;
        font-size: 16px;
        width: 11.5%;
}

#lab a{
        display: inline-block;
        color: rgb(255, 255, 255);
        text-decoration: none;
        line-height: 50px;
        cursor: pointer;
        transition: transform 0.15s ease-in-out;
}

#lab a:hover{
        transform: scale(1.1);
}

.home {
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
        color: rgb(255, 255, 255);
}