#lab{
        height: 1453.5px;
}

#razer, #lamzu, #pulsar{
        display:block;
        text-align: center;
        line-height: 20px;
}

#razer img, #lamzu img, #pulsar img{
        transition: transform 0.5 ease-in-out;
        border-radius: 10px;
}

#razer img:hover, #lamzu img:hover, #pulsar img:hover{
        transform: scale(1.05);
        transition: 0.5s;
}

#razer a, #lamzu a, #pulsar a{
        color: rgb(0, 0, 0);
        text-decoration: none;
}

#razer p, #lamzu p, #pulsar p{
        color: rgb(140, 66, 251);
}

#paginas{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        gap: 20px;
}

#redes{
        display:flex;
        gap: 75px;
        align-items: center;
        justify-content: center;
}

#barra{
        background-color: black;
        width: 100%;
        height: 70px;
}

#footer{
        display:flex;
        background-image: url(../media/footer.png);
        color: gray;
        width: 100%;
        height: 200px;
        gap: 100px;
        text-align: justify;
        align-items: center;
        justify-content: center;
}