header{
        display: flex;
        position: relative;
        background-image: url(../media/banner.jpg);
        align-items: center;
        justify-content:space-between;
        vertical-align: middle;
        font-size: 35px;
        max-width: auto;
        height: auto;
        padding: 10px;
}

#lab{
        height: 1675px;
}

#qingsui, #poying, #taibao, #sheshejia{
        display:block;
        font-family: cursive;
        text-align: center;
        line-height: 20px;
}

#qingsui img, #poying img, #taibao img, #sheshejia img{
        transition: transform 0.5 ease-in-out;
        border-radius: 10px;
}

#qingsui img:hover, #poying img:hover, #taibao img:hover, #sheshejia img:hover{
        transform: scale(1.05);
        transition: 0.5s;
}

#qingsui a, #poying a, #taibao a, #sheshejia a{
        color: black;
        text-decoration: none;
}

#qingsui p, #poying p, #taibao p, #sheshejia p{
        color: rgb(140, 66, 251);
}

#redes{
        display:flex;
        gap: 75px;
        align-items: center;
        justify-content: center;
}

#barra{
        background-color: black;
        width: 100%;
        height: 70px;
}

#footer{
        display:flex;
        background-image: url(../media/footer.png);
        color: gray;
        width: 100%;
        height: 200px;
        gap: 100px;
        text-align: justify;
        align-items: center;
        justify-content: center;
}