header{
        display: flex;
        position: relative;
        background-image: url(../media/banner.jpg);
        align-items: center;
        justify-content:space-between;
        vertical-align: middle;
        font-size: 35px;
        max-width: auto;
        height: auto;
        padding: 10px;
}

#lab{
        height: 1768px;
}

#akko1, #wlteclado, #akko2, #wooting, #akko3, #wlteclado2{
        display:block;
        text-align: center;
        line-height: 20px;
}

#akko1 img, #wlteclado img, #akko2 img, #wooting img, #akko3 img, #wlteclado2 img{
        transition: transform 0.5 ease-in-out;
        border-radius: 10px;
}

#akko1 img:hover, #wlteclado img:hover, #akko2 img:hover, #wooting img:hover, #akko3 img:hover, #wlteclado2 img:hover{
        transform: scale(1.05);
        transition: 0.5s;
}

#akko1 a, #wlteclado a, #akko2 a, #wooting a, #akko3 a, #wlteclado2 a{
         color: rgb(0, 0, 0);
        text-decoration: none;
}

#akko1 p, #wlteclado p, #akko2 p, #wooting p, #akko3 p, #wlteclado2 p{
        color: rgb(140, 66, 251);
}

#redes{
        display:flex;
        gap: 75px;
        align-items: center;
        justify-content: center;
}

#barra{
        background-color: black;
        width: 100%;
        height: 70px;
}

#footer{
        display:flex;
        background-image: url(../media/footer.png);
        color: gray;
        width: 100%;
        height: 200px;
        gap: 100px;
        text-align: justify;
        align-items: center;
        justify-content: center;
}